<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- Mybatis 설정 파일 -->
<configuration>
    <!-- 해당 프로젝트에서 사용하는 DB 연결과 설정파일 전부 지정하는 공간-->
    <environments default="development">
        <!--DB 여러개 사용 가능 DB정보들을 기술하는 공간-->
        <environment id="development">
            <!--DB 한개에 대한 정보 기술-->
            <!--트랜잭션 관리 , Connection Pool 관리-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
                <property name="username" value="scott"/>
                <property name="password" value="tiger"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="../../../resources/mapper/BoardMapper.xml"/>
    </mappers>
</configuration>